<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Website Movie Test Suite" parallel="methods" thread-count="1">

    <listeners>
        <listener class-name="listeners.TestListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Selenium Tests">

<!--        <groups>-->
<!--            <run>-->
<!--                <include name="UI"/>-->
<!--                <exclude name="function"/>-->
<!--            </run>-->
<!--        </groups>-->

        <classes>
<!--            <class name="tests.login.LoginTest"/>-->
<!--            <class name="tests.login.LoginUITest"/>-->
<!--            <class name="tests.logout.LogoutTest"/>-->
<!--            <class name="tests.movie.MovieTest"/>-->
<!--            <class name="tests.login.ForgetPasswordTest"/>-->
<!--            <class name="tests.register.RegisterTest"/>-->
<!--            <class name="tests.movie.ViewHomeMovieTest"/>-->
<!--            <class name="tests.movie.ViewMovieListTest"/>-->
<!--            <class name="tests.movie.WatchMovieTest"/>-->
<!--            <class name="tests.movie.SearchMovieTest"/>-->
<!--            <class name="tests.movie.FilterMovieByTypeTest"/>-->
<!--            <class name="tests.movie.ClearMovieListFilterTest"/>-->
            <class name="tests.movie.MovieListPaginationTest"/>




        </classes>

    </test>

</suite>
